<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="list-trips"><img src="/assets/images/logo.png" /></a>
  <button
    class="navbar-toggler"
    type="button"
    datatoggle="collapse"
    data-target="#navbarNavAltMarkup"
    ariacontrols="navbarNavAltMarkup"
    aria-expanded="false"
    arialabel="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="list-trips"
        >Trips</a
      >
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="news"
        >News</a
      >
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="news"
        >Reservations</a
      >
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://localhost:4200/" target="_blank"
        >Admin</a
      >
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="news"
        >Checkout</a
      >
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="login" *ngIf="!isLoggedIn()">
        <span class="has-icon-left">Log In</span>
      </a>
      <a class="nav-item nav-link" (click)="onLogout()" *ngIf="isLoggedIn()">
        <span class="has-icon-left">Log Out</span>
      </a>
    </div>
  </div>

</nav>
  